<div class="container offset-md">
  <hr />
  <h3>Insertar persona</h3>
  <form action="">
    <div class="form-group">
      <input
        class="form-control"
        name="id_persona"
        type="number"
        placeholder="id_persona"
        [(ngModel)]="persona.id_persona"
        autofocus
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        name="nombre"
        type="text"
        placeholder="Nombre"
        [(ngModel)]="persona.nombre"
      />
    </div>
    <button
      class="btn btn-primary btn-block"
      type="submit"
      (click)="edit ? actualizarPersona() : guardarPersona()"
    >
      Guardar
    </button>
  </form>
  <hr />
</div>
