.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  background-color: rgba(255, 255, 255, 0.5);
  height:20rem;
  width:50rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.custom-select{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
}

.form-control{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
}
.btn-primary{
  align-self:flex-end;
  margin-left: 220px;
}
